body {
    font-family: sans-serif;
    display: table; 
}

#main {
	/* Always centralized in the window. */
    width: 400px;
	position:absolute;
	left:50%;
	margin-left: -200px;
}

#main > * {
    margin-bottom: 10px;
}

#main h1 {
    white-space: nowrap;
    text-align: center;
    margin-top: 10px;
}

#plots {
    /*
        display: flex;
        display: -ms-inline-flexbox;
        border-collapse: collapse;
    */
    /*width: 100%;*/
}

.coweb_chart {
    border-width: 1px;
    border-style: dashed;
    width:400px;
}

#legends {
	font-size: 11px;
	font-family: monospace;
}

#jqPlotChart , #logisticChart{
    height:400px;
}

#iteractionsChart {
    height:100px;
    margin-top: 10px;
}

#controls {
    display: table;
}

#controls .row_controls {
    display: table-cell;
    width: 33%;
}

#controls .row_controls > *{
    display: inline-table;
    /*
        padding-left: 10px;
        padding-right: 10px;
    */
    vertical-align: baseline;
}

#controls label {
    /*    width: 50%;*/
    text-align: right;
}

.spinner {
    width: 60px;
    font-family: sans-serif !important;
    font-size: 16px !important;
}

#iteractionsValue {
    text-align: right;
}