body {
    font-family: sans-serif;
    display: table; 
}

#main {
	/* Always centralized in the window. */
	position: absolute;
	left:50%;
}

#main.logistic {
	margin-left: -200px;
}

#main.complete {
	margin-left: -450px;
}

#main > * {
    margin-bottom: 10px;
}

#main h1 {
    white-space: nowrap;
    text-align: center;
    margin-top: 10px;
}

#plots {
}

.coweb_chart {
    border-width: 1px;
    border-style: dashed;
    width:400px;
}

#logisticLegend, #bifurcationLegend {
	font-size: 11px;
	font-family: monospace;
}

#bifurcationChart {
	/*
	height: 510px;
	top: 0;
	left: 0;
	*/
	border-color: red;
	margin-right: 10px;
	display: table-cell;
}

#logistic_iteractions {
	display: table-cell;
}

#logisticChart {
	display: table-cell;
    height: 400px;
	top: 0;
}

#iteractionsChart {
    height:100px;
    margin-top: 10px;
	bottom: 0;
}

#main.complete  #logisticChart, #main.complete #iteractionsChart {
	/*
	right: 0;
	left: 400px;
	*/
	margin-left: 10px;
}



#controls {
    display: table;
	width: 100%;
}

#controls .row_controls {
    display: table-cell;
    width: 33%;
}

#controls .row_controls > *{
    display: inline-table;
    /*
        padding-left: 10px;
        padding-right: 10px;
    */
    vertical-align: baseline;
}

#controls label {
    /*    width: 50%;*/
    text-align: right;
}

.spinner {
    width: 60px;
    font-family: sans-serif !important;
    font-size: 16px !important;
}

#iteractionsValue , #skipValue {
    text-align: right;
}